.chat-interface {
  height: calc(100vh - 70px);
  overflow-y: scroll;
}
.chat-input-container {
  position: absolute;
  bottom: 0;
  background: $body-bg;
  width: 100% !important;
}
.chat-scroll-to-bottom-button {
  position: absolute;
  border-radius: 50px;
  bottom: 110px;
  left: 50%;
  transform: translateX(-50%);
  // padding: 1px !important;
}
.chat-stripe {
  .avatar {
    // border: 2px solid $primary-dark;
  }
}
.chat-input-avatar {
  position: absolute;
  bottom: 1.25 * $input-padding-y;
  left: 0.6 * $input-padding-x;
  // border: 2px solid $primary-dark;
}
.chat-input-prompt {
  position: relative;
  padding-right: 4.5 * $input-padding-x !important;
  padding-left: 3.75 * $input-padding-x !important;
  border-radius: 50px !important;
  height: 50px !important;
  padding-top: 13px !important;
  resize: none !important;
  &::-webkit-scrollbar {
    display: none;
  }
}
.chat-btn-input {
  position: absolute;
  bottom: 0.8 * $input-padding-y;
  right: 0.7 * $input-padding-x;
  border-radius: 40px;
}

.chat-stripe-prompt,
.chat-stripe-response {
  .chat-chart-error {
    max-width: 100%;
    margin: 0 auto;
    .swiper {
      width: 100%;
      height: 100%;
      margin-left: auto;
      z-index: 0;
    }
    .swiper-slide {
    }
    // .swiper-pagination-bullet {
    //   background-color: $secondary-extra-light;
    //   opacity: 0.6;
    // }
    // .swiper-pagination-bullet-active {
    //   opacity: 1;
    // }
    .card {
      border: 0;
      background-color: rgba($black, 0.9);
      // color: $secondary-light;
      p {
        // color: $secondary-light;
      }
    }
  }
}
.chat-stripe-prompt {
  white-space: pre-wrap;
}
.chat-stripe-response {
  max-width: calc(100%-50px);
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: 1.75 * $padding-base-vertical;
  }
}
.chat-stripe-end-space {
  height: 90px;
}
.chat-copy-code-block-button {
  position: absolute;
  top: 10px;
  right: 10px;
  &:hover {
    background-color: transparent;
  }
}

.suggestion-tiles {
  @each $color, $value in $theme-colors {
    .tile-#{$color} {
      cursor: pointer;
      padding: 2 * $padding-base-vertical;
      border-radius: $border-radius-lg;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 20px;
      .icon-container {
        width: 70px;
        height: 70px;
        border-radius: $border-radius-lg;
        padding: $padding-base-vertical;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $value;
        h3 {
          color: $value !important;
          margin: 0;
        }
      }
    }
  }
}
